body{
  background-color: aliceblue;
}


.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 5px ;
  width: 55%;
  margin:0 auto;
}







