.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conetnt {
    width: 100%;
}

.sidebar {
    min-height: 700px;
}

.post-card{
    text-align: center;
    margin: 20px;
    width: 30rem;
    justify-content: center;
    align-items: center;
}

.hashtag{
    margin: 0px 5px;
}

.reaction {
 
    margin:15px 0 0 0;

}

.create-post{
    width: 50%;
    margin-left: 10%;
    margin-top: 50px;
}